*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}
h1{
    color: aquamarine;
    
}